@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto+Condensed&display=swap');
*{
  margin:0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: rgb(33, 28, 39);
}
.homeContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15% 0px;
}
.menuItem {
  color: white;
}
.menuItemPrice , .fa-plus-circle{
  color: rgb(254, 229, 64);
  margin: auto;
}
.OptionsButton{
  background-color:rgb(254, 229, 64);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  margin-top: 20px;
}
.menuItemsContainer{
  background-color: rgb(81, 79, 79);
  border-radius: 10px;
  height: 70vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/
}
.productCard{
  display: grid;
  grid-template-columns: 1fr .3fr .1fr;
  margin: 5px 0px;
}
.mitiMotaLogo{
  max-width: 300px;
}
.principalHeadline{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(254, 229, 64);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2.5rem;
  text-align: center;
}
.secondaryHeadline{
  color: rgb(229, 229, 229);
}
.homeButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header , .menuLogo{
  height: 50px;
  margin: 5px;
}
.clientOrder{
  background-color: white;
  width: 90%;
  border-radius: 10px;
  padding: 15px 10px;
  box-sizing: border-box;
}
.menuContainer{
  width: 80%;
  grid-row: 1/3;
  grid-column: 1/2;
  margin: 0px auto;
}
.orderMenu{
  display: grid;
  grid-template-columns: 1fr .4fr;
  grid-template-rows: 1fr .5fr;
}
.menuButtons{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.clientNameModal{
  position: fixed;
  background-color: rgb(254, 229, 64);
  padding: 10px;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1.5px solid white;
  height: 20%;
  justify-content: space-between;
}
.inputTextarea{
  width: 90%;
  height: 30%;
  background: rgb(196,196,196);
  border: white;
}
.button-form{
  width: 100px;
  height: 40px;
  background: #38AFD5;
  border-radius: 20px;
  color: white;
  border: none;
}
.fa-times-circle{
  position: relative;
  left: 45%;
}
.cartItems{
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}
.orderTotal{
  background: white;
  width: 90%;
  margin: auto 0px;
  border-radius: 10px;
  padding: 15px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.OrderReadyButton{
  background-color:rgb(254, 229, 64);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}
.footer{
  color: white;
  text-align: center;
  margin: 10px;
}
.sentOrderModal{
  position: fixed;
  background-color: rgb(254, 229, 64);
  padding: 10px;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1.5px solid white;
  height: 20%;
  justify-content: space-between;
  margin: auto;
  left: 25%;
}